
.formPost {
    margin: auto;
    min-width: 500px ;
    border: 1px solid blue;
    padding: 5%;
    padding-right: 6.5%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
}
.formPost [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
.impresora{
    margin-top: 200px;
}
lottie-player {
    margin: 0 auto;
    width: 600px !important;
    height: 600px !important;
}

.input-container {
    width: 210px;
    max-height: 40px;
    position: relative;
    margin: 18px 0;
    border: 1px solid tomato;
}



.label {
    position: absolute;
    left: 10px;
    top: 25px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 10;
    color: rgb(77, 77, 77);
    font-size: 18px;
    width: 100%;
}
.text-input {
    height: 38px;
    border: 1px solid rgb(77, 77, 77);
    background: rgb(15, 15, 15);
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: #323f52;
    width: 100%;
}

.text-input:focus {
    border: 2px solid rgb(132, 14, 201);

}
.text-input:focus + .label, .filled {
    top: -5px;
    color: rgb(132, 14, 201);
    font-weight: bold;
    letter-spacing:0.2rem;
    font-size: 18px;
}
.text-input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
}
.text-input:focus::placeholder {
    opacity: 1;
}
#buttonPost {
    margin: 20px 0;
    background: rgb(15, 15, 15);
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    border-radius: 12px;
    width: 50%;
    height: 50px;
}
#buttonPost::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        red,blue,deeppink,blue,
        red,blue,deeppink,blue
    );
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}
@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}