.caja {
    border: 1px solid white;
    border-radius: 20px;
    max-width: 470px;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    background-color: #000;
}
.input-container {
    margin: 10px;
    display: flex;
    flex-direction: column;

}
.text-input {
    height: 1.5rem;
    width: 350px;
    border-radius: 5px;
    background-color: #000;
    border: 1px solid rgb(37, 37, 37);
    margin-bottom: 10px;
    margin-top: 5px;
    transition: all 0.4s;
}
.text-input:hover {
    border: 1px solid #fff;
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.2), 0 0 4px hsla(0,0%,100%,.2), 0 0 24px hsla(0,0%,100%,.2);
}
.label {
    color: #fff;
}

button {
    margin: 20px 0;
    background: rgb(37, 37, 37);
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    border-radius: 12px;
    width: 50%;
    height: 50px;
}
.buttonPost {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border: 2px solid #fff;
    transition: all 0.3s;
}
.buttonPost:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
}
